<ng-container  *ngIf="rubrics">
    <div class="rubric-list">

        <ng-container *ngIf="rubrics?.length == 0; else tableau">
            <span>Aucune rubrique n'a encore été enregistrée pour le moment.</span>
        </ng-container>
        
        <ng-template #tableau>
            <p-table  [value]="rubrics" responsiveLayout="scroll">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th class="count"></th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Activée?</th>
                        <th class="last-column">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rubric let-rowIndex="rowIndex">
                    <tr>
                        <td class="count">{{rowIndex + 1}}</td>
                        <td>{{rubric.name}}</td>
                        <td> {{rubric.description}}</td>
                        <td>
                            <div class="default-state" [ngClass]="rubric.isActive === true ? 'active-rubric':''"></div>
                        </td>
                        <td class="row-actions">
                            <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
    
                            <p-overlayPanel #op>
                                <ng-template pTemplate>
                                    <div class="row-actions-event">
                                        <i (click)="editRubric(rubric.id)" class="pi pi-pencil"></i>
                                        <i (click)="deleteRubric(rubric.id)"class="pi pi-trash"></i>
                                    </div>
                                </ng-template>
                            </p-overlayPanel>
                        </td>
                    </tr>
                </ng-template>
    
            </p-table>
            <p-confirmDialog styleClass="delete-message"  header="Confirmation de suppression" acceptLabel="Oui" rejectLabel="Non" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
            </p-confirmDialog>
            <p-toast position="top-right"></p-toast> 
        </ng-template>
    </div>
</ng-container>
