@if (currentRubricList) {
<div class="rubric-list">

    @if (currentRubricList.length === 0) {
    <span>Aucune rubrique n'a encore été enregistrée pour le moment.</span>
    }
    @else {
    <p-table [value]="currentRubricList" responsiveLayout="scroll" (onRowReorder)="onRowReorder()" [reorderableColumns]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:3rem"></th>
                <th>Titre</th>
                <th>Description</th>
                <th style="width:7rem">Activée ?</th>
                <th class="last-column">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rubric let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <span class="pi pi-align-justify" pReorderableRowHandle></span>
                </td>
                <td>{{rubric.name}}</td>
                <td> {{rubric.description}}</td>
                <td>
                    @if (rubric.isActive === true) {
                        <span class="state active-rubric"> Oui </span>
                    }
                    @else {
                        <span class="state non-active-rubric">Non</span>
                    }
                </td>
                <td class="row-actions">
                    <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>

                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <div class="row-actions-event">
                                <i (click)="editRubricEventTrigger(rubric.id)" class="pi pi-pencil"></i>
                                <i (click)="deleteRubricEventTrigger(rubric.id)" class="pi pi-trash"></i>
                            </div>
                        </ng-template>
                    </p-overlayPanel>
                </td>
            </tr>
        </ng-template>
    </p-table>
    }
</div>
}