.rubric-list{
    display: flex;
    flex-direction: column;

    p-table{
        width: 100%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .p-datatable{
            .p-datatable-wrapper{
                .p-datatable-table{
                    .p-datatable-tbody{
                        tr{
                            position: relative;
                            transition: all 0.8s ease-in-out;
                            .row-reorder-handler{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }                      
                    }
                }
            }
        }

    }

    .last-column{
        text-align: right;
    }

    .default-state{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgb(203, 203, 203);
    }

    .active-rubric{
        background-color: green;
    }

    .row-actions{
        text-align: right;
        position: relative;

        i{
            padding: 6px;
            font-weight: bold;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border: 1.5px solid white;

            &:hover{
                border: 1.5px solid #191922;
            }
        }
    }

    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.5rem 1rem !important;
    }
}

.row-actions-event{
    display: flex;
    flex-direction: column;

    i{
        padding: 6px;
        font-weight: bold;
        margin: 5px 0;
        border-radius: 50%;
        cursor: pointer;
    }

    .pi-trash{
        color: red;
        border: 1px solid red;
    }

    .pi-trash:hover{
        color: white;
        background-color: red;
    }

    .pi-pencil{
        color: green;
        border: 1px solid green;
    }
    .pi-pencil:hover{
        color: white;
        background-color: green;
    }
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 7px;
}