.testimony-list {
    margin-top: 2rem;

    span{
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 0.3rem;
        padding: 0.3rem 0.5rem;
        border-radius: 100px;
        font-size: 0.9rem;
        background-color: var(--project-black-secondary-color);
        color: var(--project-white-primary-color);
    }

    .active-tag{
        background-color: #275a27;
    }

    p {
        padding: 1rem;
        background-color: var(--project-white-primary-color);
        color: var(--project-black-primary-color);
    }
}