<ng-container  *ngIf="currentReplayList">
    <div class="replay-list">

        <ng-container *ngIf="currentReplayList?.length == 0; else tableau">
            <span>Aucun replay n'a encore été enregistré pour le moment.</span>
        </ng-container>
        
        <ng-template #tableau>
            <p-table  
                [value]="currentReplayList" 
                responsiveLayout="scroll"
                (onRowReorder)="onRowReorder()"
                >
                
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Titre</th>
                        <th>Activée?</th>
                        <th class="last-column">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-replay let-index="rowIndex">
                    <tr [pReorderableRow]="index">
                        <td pReorderableRowHandle class="row-reorder-handler"></td>
                        <td >
                            <span class="pi pi-align-justify"></span>
                        </td>
                        <td>{{replay.title}}</td>
                        <td>
                            <div class="default-state" [ngClass]="replay.isActive === true ? 'active-replay':''"></div>
                        </td>
                        <td class="row-actions">
                            <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
    
                            <p-overlayPanel #op>
                                <ng-template pTemplate>
                                    <div class="row-actions-event">
                                        <i (click)="editReplayEventTrigger(replay.id)" class="pi pi-pencil"></i>
                                        <i (click)="deleteReplayEventTrigger(replay.id)"class="pi pi-trash"></i>
                                    </div>
                                </ng-template>
                            </p-overlayPanel>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </div>
</ng-container>
