header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5em;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    background-color: #fff;
    padding: 0 2em;
    z-index: 99;
    position: fixed;
    width: 100%;

    .logo{
        height: 4em;
        cursor: pointer;
        transform: rotate(12deg);
    }
}