header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    background-color: var(--project-black-primary-color);
    padding: 0 2em;
    z-index: 99;
    width: calc(100% - 20rem);
    height: 89px;
    border: 1px solid rgb(59, 59, 59);

    .connected-user-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 7px;
        background-color: rgb(220, 220, 220);
        cursor: pointer;

        .connected-user {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            color: var(--project-white-primary-color);
            font-size: 1rem;
            background-color: var(--project-brown-primary-color);
        }

    }

    .top {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-bottom: 1px solid black;

        h5 {
            font-size: 0.9rem;
        }

        span {
            font-size: 0.9rem;
        }
    }

    .p-menu-list {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .p-menu-submenu-label {
            display: none;
        }
    }

    .p-menu-overlay {
        right: 2rem;
        top: 4rem;
    }

}