<header>
    <p-menu #menu [model]="items" [popup]="true" appendTo="connectedUser" >
        <ng-template #start>
            <div class="top">
                <h5>Maurice Bell</h5>
                <span>LES CHOCEURS</span>
            </div>
        </ng-template>
    </p-menu>
    <div #connectedUser (click)="menu.toggle($event)" class="connected-user-wrapper">
        <div class="connected-user">
            MB
        </div>
    </div>
    <nav>
        <app-user-connected-menu-side-bar></app-user-connected-menu-side-bar>
    </nav>
</header>