header{
    position: fixed ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    background-color: var(--project-black-primary-color);
    padding: 0 2em;
    z-index: 99;
    width: 100%;
    height: 105px;
        border: 1px solid rgb(59, 59, 59);

    .connected-user{
        display: flex;
        align-items: center;
        gap: 1rem;
        

        img {
            width: 65px;
            height: 72px;
            object-fit: cover;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
                font-size: 1.15rem;
                font-weight: 500;
                color: var(--project-white-primary-color);
            }

            p{
                font-size: 0.9rem;
                color: var(--project-white-secondary-color);
            }
        }
    }

    .logo{
        height: 4em;
        cursor: pointer;
        transform: rotate(12deg);
    }
}