<div class="article-add-edit-container">
    <ng-container *ngIf="!isEditMode; else editMode">
        
        <h1 class="title">Créer Un d'Article </h1>
        <p class="sub-title">Création d'un nouvel article</p>

        <div class="actions">
            <button class="add" type="submit" (click)="onSaveArticle()"> 
                <i class="pi pi-plus"></i>
                Ajouter
            </button>
            <button class="cancel" type="button" (click)="onCancelAddEditArticle()"> 
                <i class="pi pi-times"></i>
                Annuler
            </button>
        </div>
    </ng-container>

    <ng-template #editMode>
        <h1 class="title">Modifier Un Article</h1>
        <p class="sub-title">Modification d'un article</p>

        <div class="actions">
            <button class="add" type="submit" (click)="onEditArticle()"> 
                <i class="pi pi-pencil"></i>
                Modifier
            </button>
            <button class="cancel" type="button" (click)="onCancelAddEditArticle()"> 
                <i class="pi pi-times"></i>
                Annuler
            </button>
        </div>
    </ng-template>

    <form [formGroup]="articleForm">

        <div class="left">
            <div class="preview">
                <img [src]="imageDisplay" id="image-previewed">
            </div>
            <div class="upload">    
                <div class="input">
                    <label for="image-input">
                        <i class="pi pi-upload"></i>
                        Image de couverture
                    </label>
                    <input type="file" id="image-input" accept="image/*" (change)="showImagePreview($event)">    
                </div>
                <div *ngIf="formControls['coverImage'].invalid && ( isSaveButtonClicked || isEditButtonClicked )" class="p-error">
                    <small *ngIf="formControls['coverImage'].errors?.required" >Image manquante</small>                    
                </div>
            </div>
        </div>
        
        <div class="right">
            <div class="row-one">
                <div class="field">
                    <label>Rubrique de cet article</label>
                <p-dropdown 
                    formControlName="rubric"
                    placeholder="Sélectionnez une rubrique d'article"
                    [options]="(articleRubrics$ | async)!" 
                    [filter]="true" 
                    filterBy="name" 
                    [showClear]="true"
                    optionLabel="name"
                >
                    
                </p-dropdown>
                <small *ngIf="formControls['rubric'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Sélectionnez une rubrique d'article</small>
                </div>
            </div>

            <div class="row-one">
                <div class="field">
                    <label>Titre de larticle</label>
                    <input 
                        type="text" 
                        pInputText 
                        formControlName="title"
                    />
                    <small *ngIf="formControls['title'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner le titre de l'article</small>
                </div>
            </div>
    
            <div class="row-one">
                <div class="field">
                    <label>Description</label>
                    <input 
                        type="text" 
                        pInputText 
                        formControlName="description"
                    />
                    <small *ngIf="formControls['description'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner une courte description</small>
                </div>
            </div>
    
            <div class="row-two calendar-bloc">
                <div class="field">
                    <label>Heure de l'évênement</label>
                    <p-calendar placeholder="Entre l'heure" formControlName="hour" dateFormat="dd.mm.yy" [showTime]="true" [readonlyInput]="true" [timeOnly]="true" timeSeparator=":" dataType="string" ></p-calendar>
                    <small *ngIf="formControls['hour'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner l'heure de l'évênement</small>
                </div>
    
                <div class="field">
                    <label>Date de quand l'évênement a eu lieux</label>
                    <p-calendar placeholder="Entrez la date" formControlName="date" dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                    <small *ngIf="formControls['date'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner la date de l'évênement</small>
                </div>
            </div>
    
            <div class="row-two video-bloc">
                <div class="field">
                    <label>Contiendra une vidéo?</label>
                    <p-inputSwitch formControlName="hasVideo"></p-inputSwitch>
                </div>
        
                <div class="field">
                    <label>Media video</label>
                    <input [ngClass]="isMediaVideoInputIsToDisable ? 'disabledInput': 'enabledInput' " type="text" pInputText formControlName="videoLink"/>        
                    <small *ngIf="formControls['videoLink'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner le média vidéo</small>
                </div>
            </div>
    
            <div class="row-one">
                <div class="field">
                    <label>Corps de l'article</label>
                    <p-editor formControlName="content" [style]="{ height: '320px' }">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <button class="ql-header" value="1"></button>
                                <button class="ql-header" value="2"></button>
                                <button class="ql-header" value="false"></button>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button type="button" class="ql-list" value="ordered"></button>
                                <button type="button" class="ql-list" value="bullet"></button>
                                <button type="button" class="ql-link"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                    <small *ngIf="formControls['content'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner le contenu de l'article</small>
                </div>
            </div>
        </div>
    </form>   

    <p-toast position="top-right"></p-toast> 
</div>
