<div class="reset-password">

    <div class="content my-container">
        <div class="form-bloc">
            <ng-container *ngIf="!isUserConnected">
                <div class="left">
                    <img src="../../../../../assets/img/login/icon.png" alt="logo">
                    <h1>Amadou BÂ 2024</h1>
                </div>
            </ng-container>
            
            <div class="right">
                <form [formGroup]="resetPasswordForm" (submit)="onResetPassword()" >

                    <ng-container *ngIf="isRequestFailed">
                        <p class="message-request-error">{{message}}</p>
                    </ng-container>

                    <ng-container *ngIf="isRequestSucceed">
                        <p class="message-request-succeed">{{message}}</p>
                    </ng-container>

                    <h1>Nouveau Mot De Passe</h1>

                    <div class="field">
                        <label>Mot de passe</label>
                        <p-password 
                            formControlName="password"
                            promptLabel = " "
                            styleClass="p-password"
                            weakLabel = "Mot de passe faible"
                            mediumLabel = "Mot de passe moyen"
                            strongLabel = "Mot de passe fort"

                        >

                            <ng-template pTemplate="header">
                                <p style="margin-bottom: 10px;">Pour créer un mot de pase sécurisé, vous pouvez suivre les suggestions ci-après</p>
                                <ul style="margin-bottom: 10px;list-style-position: inside;">
                                    <li style="font-size: 0.92em;">Au moins un caractère en minuscule</li>
                                    <li style="font-size: 0.92em;">Au moins un caractère en majuscule</li>
                                    <li style="font-size: 0.92em;">Au moins un chiffre</li>
                                    <li style="font-size: 0.92em;">Au moins 8 caractères</li>
                                </ul>
                            </ng-template>
                        </p-password>

                        <small *ngIf="f['password'].invalid && isSaveButtonClicked" class="p-error">Renseigner votre mot de passe</small>
            
                    </div>
            
                    <div class="field">
                        <label>Confirmer mot de passe</label>
                        <p-password 
                            [toggleMask]="true"
                            formControlName="confirmPassword"
                            [feedback]="false"
                            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        >
                            
                        </p-password>        
                        <small *ngIf="f['confirmPassword'].invalid && isSaveButtonClicked" class="p-error">Confirmer votre mot de passe</small>
                    </div>
            
                    <button type="submit"> 
                        Valider
                    </button>
                </form>   
            
                <p-toast position="top-right"></p-toast> 
            </div>
        </div>
    </div>
</div>