.reset-password{
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        

        .form-bloc{
            display: flex;
            overflow: hidden;
            border-radius: 7px;
            width: fit-content;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            height: fit-content;

            .left{
                background: var(--project-primary-color);
                width: 300px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                padding: 20px;

                img{
                    width: 115px;
                }

                h1{
                    text-align: center;
                    margin : 20px 0;
                }

            }
            
            .right{
                width: fit-content;
                background-color: white;
                height: 455px;
                display: flex;
                align-items: center;
                justify-content: center;

                form{
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    margin: 0 50px;

                    .message-request-error{
                        padding: 5px;
                        text-align: center;
                        margin-bottom: 20px;
                        background-color: #fddddd;
                        color: red;
                        font-size: 0.9em;
                    }

                    .message-request-succeed{
                        padding: 5px;
                        text-align: center;
                        margin-bottom: 20px;
                        background-color: #f3e2b7;
                        color: #d19706;
                        font-size: 0.9em;
                    }

                    h1{
                        margin-bottom: 10px;
                        text-align: left;
                    }

                    .infos{
                        margin-bottom: 35px;
                    }

                    .field{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15px;
                        width: 100%;
            
                        label{
                            margin-bottom: 7px;
                        }
            
                        small{
                            margin:10px 0 0 0;
                        }

                        

                        .p-password{
                            width: 100%;

                            .p-inputtext{
                                width: 100%;
                            }
                        }
                    }

                    .forgotten-password{
                        text-align: right;
                        cursor: pointer;
                        color: #569672;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    button{
                        margin-top: 10px;
                        padding: 10px 10px;
                        border: 1px solid black;
                        background-color: white;
                        transition: all 0.2s ease-in-out;
                        font-size: 1.1em;

                        &:hover{
                            color: white;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    .content-connected{
        align-items: flex-start !important;
    }
}