.top-header-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5rem;

    h1{
        font-family: 'Exo-bold';
        font-size: 2.1rem;
    }

    p{
        font-size: 1.03rem;
        margin-top: 5px;
    }
}