.replay-list-container{
    display: flex;
    flex-direction: column;
    
    .actions{
        padding: 5px 10px;
        background-color: rgb(241, 241, 241);
        margin: 60px 0 30px 0;
        display: flex;
        justify-content: space-between;

        button{
            display: flex;
            align-items: center;
            outline: none;
            padding: 6px 10px;
            border-radius: 100px;
            width: fit-content;
            cursor: pointer;
            background-color: white;

            &:hover{
                background-color: green;
                color: white;
            }

            i{
                margin-right: 5px;
            }
        
            
        }

        .add{
            border: solid green;
            color: green;

            &:hover{
                background-color: green;
            }
        }

        .save{
            border: solid blue;
            color: blue;

            &:hover{
                background-color: blue;
            }
        }
    }
}
