<div class="agenda-types">
    <h1 class="title">Gestion Des Types d'Évênements d'Agenda </h1>
    <p class="sub-title">Liste des types d'évênements</p>

    <div class="content">
        <div class="actions">
            <button class="add-user" type="button" routerLink="/agenda/creer-type-evenement"> 
                <i class="pi pi-plus"></i>
                Ajouter un type d'évènement
            </button>
        </div>
        <app-event-type-list [eventTypes]="(eventTypeList$ | async)!" (deleteEventTypeEvent)="deleteEventTypeById($event)"></app-event-type-list>
    </div>

</div>
