@if ((isUserLogged$ | async ) === false) {
  <div class="app">
    <div class="content">
    <!--
      <div 
        class="button-toggle-sidebar" 
        (click)="onSideBarToggled()" 
        [ngClass]="isSideNavToggled ? 'button-when-collapsed':'button-when-not-collapsed'" 
        >
        <i [ngClass]="isSideNavToggled ? 'pi pi-arrow-right' : 'pi pi-arrow-left' "></i>
      </div>
    -->
      <div class="left">        
        <app-side-bar-navigation 
          [ngClass]="isSideNavToggled ? 'sidebar-collapsed' : 'sidebar-not-collapsed'"
          >
        </app-side-bar-navigation>
      </div>
  
      <div class="right">
        <app-header></app-header>
        <div class="wrapper" [ngClass]="styleClass">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
}
@else {
  <router-outlet></router-outlet>
}