<div class="article-rubric-add-edit-container">
    <ng-container *ngIf="!isEditMode; else editMode">
        
        <h1 class="title">Créer Une Rubrique</h1>
        <p class="sub-title">Création d'une nouvelle rubrique d'articles</p>

        <div class="actions">
            <button class="add" type="submit" (click)="onSaveRubric()"> 
                <i class="pi pi-plus"></i>
                Ajouter
            </button>
            <button class="cancel" type="button" (click)="onCancelAddEditRubric()"> 
                <i class="pi pi-times"></i>
                Annuler
            </button>
        </div>
    </ng-container>

    <ng-template #editMode>
        <h1 class="title">Modifier Une Rubrique</h1>
        <p class="sub-title">Modification d'une rubrique d'articles</p>

        <div class="actions">
            <button class="add" type="submit" (click)="onEditRubric()"> 
                <i class="pi pi-pencil"></i>
                Modifier
            </button>
            <button class="cancel" type="button" (click)="onCancelAddEditRubric()"> 
                <i class="pi pi-times"></i>
                Annuler
            </button>
        </div>
    </ng-template>


    <form [formGroup]="rubricForm">

        <div class="field" *ngIf="isEditMode">
            <label>Activer?</label>
            <p-inputSwitch formControlName="isActive"></p-inputSwitch>
        </div>

        <div class="field">
            <label>Nom de la rubrique</label>
            <input 
                type="text" 
                pInputText 
                formControlName="name"
            />
            <small *ngIf="formControls['name'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner le nom de la rubrique</small>

        </div>

        <div class="field">
            <label>Description</label>
            <input 
                type="text" 
                pInputText 
                formControlName="description"
            />
            <small *ngIf="formControls['description'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner une courte description</small>
        </div>

    </form>   

    <p-toast position="top-right"></p-toast> 
</div>
