.user-list-container{
    display: flex;
    flex-direction: column;
    

    .actions{
        padding: 5px 10px;
        background-color: rgb(241, 241, 241);
        margin: 60px 0 30px 0;

        .add-user{
            display: flex;
            align-items: center;
            outline: none;
            border: solid green;
            padding: 6px 10px;
            border-radius: 100px;
            color: green;
            width: fit-content;
            cursor: pointer;
            background-color: white;

            &:hover{
                background-color: green;
                color: white;
            }

            i{
                margin-right: 5px;
            }
        
            
        }
    }
}