<div class="agenda-add-edit-container">
    <ng-container *ngIf="!isEditMode; else editMode">
        
        <h1 class="title">Créer Un Évènement </h1>
        <p class="sub-title">Création d'un nouvel évènement d'agenda</p>

        <div class="actions">
            <button class="add" type="submit" (click)="onSaveEvent()"> 
                <i class="pi pi-plus"></i>
                Ajouter
            </button>
            <button class="cancel" type="button" (click)="onCancelAddEditEvent()"> 
                <i class="pi pi-times"></i>
                Annuler
            </button>
        </div>
    </ng-container>

    <ng-template #editMode>
        <h1 class="title">Modifier Un Article</h1>
        <p class="sub-title">Modification d'un article</p>

        <div class="actions">
            <button class="add" type="submit" (click)="onEditEvent()"> 
                <i class="pi pi-pencil"></i>
                Modifier
            </button>
            <button class="cancel" type="button" (click)="onCancelAddEditEvent()"> 
                <i class="pi pi-times"></i>
                Annuler
            </button>
        </div>
    </ng-template>

    <form [formGroup]="agendaForm">

        <div class="left">
            <div class="preview">
                <img [src]="imageDisplay" id="image-previewed">
            </div>
            <div class="upload">    
                <div class="input">
                    <label for="image-input">
                        <i class="pi pi-upload"></i>
                        Image de couverture
                    </label>
                    <input type="file" id="image-input" accept="image/*" (change)="showImagePreview($event)">    
                </div>
                <div *ngIf="formControls['coverImage'].invalid && ( isSaveButtonClicked || isEditButtonClicked )" class="p-error">
                    <small *ngIf="formControls['coverImage'].errors?.required" >Image manquante</small>                    
                </div>
            </div>
        </div>
        
        <div class="right">
            <div class="row-one">
                <div class="field">
                    <label>Choix du type d'évènement</label>
                <p-dropdown 
                    formControlName="eventType"
                    placeholder="Sélectionnez un type d'évènement..."
                    [options]="(eventTypes$ | async)!" 
                    [filter]="true" 
                    filterBy="name" 
                    [showClear]="true"
                    optionLabel="name"
                >
                    
                </p-dropdown>
                <small *ngIf="formControls['eventType'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Sélectionnez un type d'évènement</small>
                </div>
            </div>

            <div class="row-one">
                <div class="field">
                    <label>Titre de l'évènement</label>
                    <input 
                        type="text" 
                        pInputText 
                        formControlName="title"
                        placeholder="Entrez le titre..."
                    />
                    <small *ngIf="formControls['title'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner le titre de l'évènement</small>
                </div>
            </div>
    
            <div class="row-two calendar-bloc">
                <div class="field">
                    <label>Heure de l'évènement</label>
                    <p-calendar placeholder="Entre l'heure..." formControlName="hour" dateFormat="dd.mm.yy" [showTime]="true" [readonlyInput]="true" [timeOnly]="true" timeSeparator=":" dataType="string" ></p-calendar>
                    <small *ngIf="formControls['hour'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner l'heure de l'évênement</small>
                </div>
    
                <div class="field">
                    <label>Date de l'évènement</label>
                    <p-calendar placeholder="Entrez la date..." formControlName="date" dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                    <small *ngIf="formControls['date'].invalid && ( isSaveButtonClicked || isEditButtonClicked)" class="p-error">Renseigner la date de l'évênement</small>
                </div>
            </div>

            <ng-container *ngIf="isEditMode">
                <div class="row-one">
                    <div class="field">
                        <label>Choix de l'article à associer</label>
                    <p-dropdown 
                        formControlName="article"
                        placeholder="Choisissez l'article..."
                        [options]="(articleList$ | async)!" 
                        [filter]="true" 
                        filterBy="title" 
                        optionLabel="title"
                    >
                        <ng-template let-article pTemplate="item">
                            <div class="article-template">
                                <img src={{article.coverImage}} />
                                <div class="date-title">
                                    <span>{{convertDate(article.date)}}</span>
                                    <span>{{article.title}}</span>                        
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    </div>
                </div>
            </ng-container>
            
        </div>
    </form>   

    <p-toast position="top-right"></p-toast> 
</div>
