.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    overflow-y: auto;
    color: var(--project-white-primary-color);
    gap: 1rem;
    position: relative;

    .logo-bloc {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        border-bottom: 1px solid rgb(59, 59, 59);
        background-color: var(--project-black-primary-color);
        width: 20rem;

        img {
            width: 65px;
            height: 72px;
            object-fit: cover;
        }

        span {
            font-size: 1.4rem;
            font-weight: 900;
            color: var(--project-yellow-primary-color);
        }
    }

    .menu-bloc {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 150px;
 
        li {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;

            .dropdown-menu,
            .menu-item {
                padding: 0.6rem 1rem;
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                color: var(--project-yellow-secondary-color);
                text-decoration: none;
                border: 1px solid transparent;
                width: 100%;

                &:hover {
                    border: 1px solid var(--project-yellow-secondary-color);
                }

                fa-icon {
                    font-size: 1.3rem;

                    &:first-child {
                        min-width: 40px;
                        text-align: left;
                    }

                    &:last-child {
                        margin-left: 10px;
                        font-size: 0.92rem;
                    }
                }

                span {
                    font-size: 1rem;
                    flex-grow: 1;
                }
            }

            .dropdown-menu {
                text-align: left;
                background-color: transparent;
            }

            .sub-menu {
                display: grid;
                grid-template-rows: 0fr;
                transition: 300ms ease-in-out;

                div {
                    overflow: hidden;

                    .sub-menu-item {
                        padding-left: 3.45rem;
                        color: var(--project-white-primary-color);

                        a {
                            color: var(--project-yellow-tertiary-color);
                            font-size: 0.95rem;
                            font-weight: 400;
                        }

                        .active-sub-menu {
                            color: var(--project-yellow-primary-color);
                            font-weight: bold;
                        }
                    }
                }
            }

            .show-items {
                grid-template-rows: 1fr;
                padding: 0.7rem 0 0 0;
            }

            .active-navigation {
                font-weight: bold;
                color: var(--project-yellow-primary-color);
                background-color: #ffffff2e;
            }
        }
    }
}