<div class="init-reset-password">

    <div 
        [ngClass]="!isUserConnected ? '' : 'content-connected'" 
        class="content my-container"
        >
        <div class="form-bloc">
            <ng-container *ngIf="!isUserConnected">
                <div class="left">
                    <img src="../../../../../assets/img/login/icon.png" alt="logo">
                    <h1>Amadou BÂ 2024</h1>
                </div>
            </ng-container>
            <div class="right">
                <form [formGroup]="initPassawordForm" (submit)="onLaunchPassportInitialisation()" >
    
                    <ng-container *ngIf="isRequestFailed">
                        <p class="message-request-error">{{message}}</p>
                    </ng-container>

                    <ng-container *ngIf="isRequestSucceed">
                        <p class="message-request-succeed">{{message}}</p>
                    </ng-container>

                    <h1>Mot De Passe Oublié ?</h1>
                    <p class="infos">Veuillez renseigner l'email associé à votre compte.</p>
                    <div class="field">
                        <label>Votre email</label>
                        <input 
                            type="email" 
                            pInputText 
                            formControlName="email"
                        />
                        <div *ngIf="f['email'].invalid && isSubmitFormButtonClicked" class="p-error">
                            <small *ngIf="f.email.errors?.email">Vérifier bien votre email !</small>
                            <small *ngIf="f.email.errors?.required">Renseigner votre email !</small>
                        </div>
                    </div>
            
                    <button type="submit"> 
                        Envoyer
                    </button>
                </form>      
                
            </div>
        </div>
    </div>
</div>