:root{
    --project-brown-primary-color: #814B2A;
    --project-yellow-primary-color: #ffd034;
    --project-black-primary-color : #111312;
    --project-black-secondary-color: #1e201f;
    --project-white-primary-color: #ffffff;
    --project-white-secondary-color: #b3b3b3;
    --project-red-primary-color: #d31a1a;
    --project-red-secondary-color: #fe6969fc;
    --project-red-tertiary-color: #f9d8d8fc;
}